.header {
	font-family: Arial, Helvetica, sans-serif;
}

.header-nav {
	z-index: 5;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	padding: 10px 0;
	background-color: rgb(247, 244, 234);
}

.logo-h1 {
	margin: 0;
	font-family: 'Courier New', Courier, monospace;
	display: flex;
	align-items: center;
	justify-content: start;
}

.logo-h1 img {
	width: 10%;
	height: 10%;
}

.signIn-btn {
	padding: 5px 20px;
	border: none;
	background-color: #071941;
	border-radius: 20px;
	font-family: Arial, Helvetica, sans-serif;
	transition: 400ms ease-in-out;
}

.signIn-btn:hover {
	background-color: #a7c3d9;
	color: black;
}

.logOut-btn {
	padding: 5px 20px;
	border: none;
	background-color: darkred;
	border-radius: 20px;
	font-family: Arial, Helvetica, sans-serif;
	transition: 400ms ease-in-out;
}

.logOut-btn:hover {
	color: black;
}

.header-nav ul {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
}

.header-nav ul li a {
	text-decoration: none;
	color: rgb(255, 255, 255);
}

.header-nav ul li a:hover {
	color: #071941;
}
